

@{
    ViewBag.Title = "Index";
}


<div class="text-center">

    <p>
       <h2></h2> WE're going to have a party!</h2>

    </p><h3>And you are invited</h3>

    <img src="~/Images/party.jpg" />
    <br />
    <div class="btn btn-success">

    @Html.ActionLink("RSVP now", "RsvpForm")
</div>
</div>

