@model MVCPartyInvitations.Models.GuestResponse 

@{
    ViewBag.Title = "RsvpForm";
}

<h2>RsvpForm</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()


    <p>Your name: @Html.TextBoxFor(x => x.Name)</p>
    <p>Your email:@Html.TextBoxFor(x => x.Email)</p>
    <p>Your phone:@Html.TextBoxFor(x => x.Phone)</p>

    <p>Will you attend?
    @Html.DropDownListFor(x=>x.willAttend,new[]
    {
    new SelectListItem()
    {
        Text="Yes, I'll be therer",
        Value = bool.FalseString
    },
    new SelectListItem()
    {
        Text ="No, I cant come",
        Value=bool.FalseString
    }
    },
    "Choose an Option")
    <input type="submit"value="Submit RSVP"/>

    </p>

}

